---
import TweetButtons from "./tweet-buttons.svelte";

interface Props {
    id: string
    userFullName: string,
    username: string,
    content: string,
    date: string,
    profilePicture: string
}

const { userFullName, username, content, id, date, profilePicture} = Astro.props

const getTimeDiff = (date: any) => {
    const postDate = new Date(date)
    const currentDate = new Date()

    console.log(currentDate.getDate() - postDate.getDate())
    if ((postDate.getDate() - currentDate.getDate()) === 0) {
        if ((postDate.getMinutes() - currentDate.getMinutes()) === 0) {
            return `${currentDate.getSeconds() - postDate.getSeconds()}s`
        } else {
            return `${currentDate.getMinutes() - postDate.getMinutes()}min`
        }
    } else {
        return `${postDate.getHours() - currentDate.getHours()}h`
    }

} 
---

<div class="flex justify-start bg-slate-700 p-[16px] rounded-[12px] w-full">
    <div class="w-[70px] ml-0 mt-0">
        <img src={profilePicture} alt="Imagen de perfil del usuario {username}" class="rounded-full w-[60px] h-[60px]">
    </div>
    <div class="w-full ml-[20px]">
        <div class="flex">
            <h3>{userFullName}</h3>
            <p class="ml-[10px] text-slate-400">
                {username}
            </p>
            · 
            <p class="ml-[10px] text-slate-400">
                {getTimeDiff(date)}
            </p>
        </div>
        <p>
            {content}
        </p>
        <TweetButtons
            id={id}
            client:load
        />
    </div>
</div>